@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #902858;
  --color-secondary: #17181a;
  --color-background:rgb(42, 44, 48)5;
  --border-radius: 0.5rem;

  --font-titles: "Parkinsans", serif;
  --font-body: "Rubik", serif;
}

body {
  color: var(--color-secondary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  max-width: 100%;

}

/* Layout */
main {
  max-width: 60rem;
  padding: 2rem;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


  h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width:100%;
    justify-content: flex-end;
    font-size: 1rem;
    }

#navbar a {
  color: white;
  text-decoration: none;
}

#navbar {
  justify-content: space-between;
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 1rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
  font-weight: 600;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

hr {
  border: none;  
  height: 1px;
  background-color: #333; 
  width: 100%;       
  margin: 40px auto; 
}

/* Links */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

button:hover {
  cursor: pointer;

}

.icon {
  width:50px;
  height:50px;
  justify-self: flex-end;
}

.rightHeader {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.aboutMe {
  font-style: italic;
}

.who-i-am {
  line-height: 2;
}

.middleHeadline {
  text-align: center;
  margin: 1rem;
}

.mainPage {
  gap: 10px;

}

.projects, .contact {
  padding: 5% 10%;
  margin: 10px;
  color: white;
  font-weight: 600;
  transition: transform 0.3s ease, filter 0.3s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/icons/projects.jpg");
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/icons/contact.jpg");
}

.projects:hover , 
.contact:hover {
  transform: scale(1.05); 
  filter: brightness(0.9); 
}

.buttons-wrapper {
  justify-content: center;
  display: flex;
  width: 100%;
}

.contact-me {
  text-align: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.socialContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.socialIcon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: white;
  transition: background-color 0.3s ease;
}

.socialIcon:hover {
  background-color: #d6669a;
}

.cv {
  justify-self: center;
}

/* SingleProject component styles */
.single-project-container {
  max-width: 100%;
  margin: 15px auto;
  padding: 24px;
  border: 1px solid #b94179;
  border-radius: 8px;
  background-color: #ffe3e348;
}

.single-project-title {
  margin-bottom: 24px;
}

.single-project-content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.single-project-image {
  width: 400px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
  flex-shrink: 0;
  align-self: flex-start;
}

.single-project-description {
  margin-bottom: 16px;
}

.single-project-link {
  display: inline-block;
  padding: 8px 20px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

.single-project-link:hover {
  background: #c94181;
}

.app-name {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

@media (max-width: 600px) {
  .single-project-content {
    flex-direction: column;
    align-items: stretch;
  }
  .single-project-image {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .single-project-link {
    justify-self: center;
    display: flex;
    width: fit-content;

  }
}

